body {
  color: white;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-zuMS49rkgrg%2FUGeOff0JtvI%2FAAAAAAAAxFU%2F1W9qzut8TiM%2Fs1600%2FImagem64.jpg&f=1&nofb=1&ipt=33ddb874ec8fddd108d840cb55b3d48097fe4af20819c97a0d2ae99a09e531c7&ipo=images);
  background-repeat: no-repeat;
  background-size: cover;
 background-color: black;
}
